name: Package and Publish Helm Chart

on:
  push:
    branches:
      - dev
      - stage
      - "ci-test/**"
    tags: ["v*.*.*"]

jobs:
  build-image:
    name: Package and Push Chart
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    env:
      CHART_NAME: "co2-calculator"
      REGISTRY: "epfl-enac/co2-calculator"
    defaults:
      run:
        working-directory: ./helm
    # outputs:
    #   chart_version: ${{ steps.chart_version.outputs.chart_version }}
    steps:
      - uses: actions/checkout@v4

      - name: Log into registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io/${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Render Chart
        run: helm template .

      - name: Set Helm chart version based on branch
        run: |
          if [[ "${{github.ref}}" == refs/tags/* ]]; then
            echo "CHART_VER=1.0.${{ github.run_number }}" >> $GITHUB_ENV
          fi
          if [[ "${{github.ref}}" == refs/heads/stage ]]; then
            echo "CHART_VER=1.0.${{ github.run_number }}-rc" >> $GITHUB_ENV
          fi
          if [[ "${{github.ref}}" == refs/heads/dev ]]; then
            echo "CHART_VER=1.0.${{ github.run_number }}-dev" >> $GITHUB_ENV
          fi
          if [[ "${{github.ref}}" == refs/heads/ci-test/* ]]; then
            echo "CHART_VER=1.0.${{ github.run_number }}-dev" >> $GITHUB_ENV
          fi

      - name: Package Chart
        run: helm package --version $CHART_VER .

      - name: Push Chart
        if: github.event_name != 'pull_request'
        run: helm push ${{ env.CHART_NAME }}-$CHART_VER.tgz oci://ghcr.io/${{ env.REGISTRY }}/helm
        env:
          HELM_EXPERIMENTAL_OCI: 1

      - name: Return Chart Version
        id: chart_version
        run: |
          echo "chart_version=$CHART_VER" >> $GITHUB_OUTPUT
